# Copy this file as 'gitcomments.json'
# replace UNAME with your github username
# replace TOKEN with your github personal access token with repo permissions
# delete the above lines(including this one)
{
    "username":"UNAME",
    "token":"TOKEN"
}
